nav{
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

footer{
	width: 100%;
	height: 45px !important;
    
	padding: 5px;
	position: fixed;
	bottom: 0;
	left: 0;
	color:black;
	background-color: #2196f3;
        box-shadow: 1px 1px 2px 2px rgb(0,40,46); 
}

footer>p{
	margin-bottom: 0;
	text-align: center;
	font-size: 20px !important;
}

.jumbotron{
	background-color: #FFFFFF !important;
}

.container{
	background-color: #2196f3 !important;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.71);
	border-radius: 3px;
}

#doba{
	font-size: 40px;
	text-decoration: bold;
    margin: 0 20% 0 20%;
    width: 60%;
    text-align: center;
}

.hide {display: none;}

#timeImg{
	width: 10%;
	margin-left: 45%;
	/*margin: 0 20% 0 20%;
	width: 60%;
	text-align: center;*/
}
