.body {
	/* background-image: url('.././assets/bg.jpg');
	background-size: cover; */
	margin: 0;
}

.bg-cover {
	background-image: url('.././assets/bg.jpg');
    background-size: cover;
    margin: 0;
    height: 120%;
    width: 120%;
    display: block;
    position: fixed;
    background-position-y: 0px;
    z-index: -1;
    background-position-x: -170px;
}

.navigation {
	width: 100%;
	margin: auto;
	box-shadow: 0px 0px 1px 0px gray;
}

.link-nav {
	margin: 10px 0px;
	text-align: center;
}

.link-nav .menu-top-item {
	width: 10%;
	min-width: 55px;
	display: inline-block;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.link-nav .menu-top-item:hover {
	/* border-bottom: 2px solid blue; */
}

.center-section {
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

footer {
	padding: 1px 0px;
}

.footer-section {
	width: 100%;
	text-align: center;
	bottom: 0px;
	position: fixed;
	background-color: rgba(100,143,243,0.9);
	box-shadow: 0px 0px 1px 0px gray;
}

.inner {
	width: 90%;
	margin: auto;
}

.top-nav {
	background-color: rgba(100, 143, 243, 0.9);
	padding: 1px 0px;
}

.bottom-nav {
	background-color: rgba(243, 247, 254, 0.9);
	padding: 1px 0px;
}

.graph {
	display: inline-block;
	width: 300px;
	margin: 20px;
	background-color: rgb(114, 153, 244);
	padding: 17px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px 0px gray;
}

.center {
	text-align: center;
}

.graph .content {
	height: 250px;
}

.welcome {
	width: 100%;
	/* background-color: rgb(114, 153, 244); */
	padding: 1px 0px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7299f4+0,7299f4+99&amp;0+0,0.95+1,0.95+1,0.95+99,0.95+99,0+100 */
background: -moz-linear-gradient(left,  rgba(114,153,244,0) 0%, rgba(114,153,244,0.95) 1%, rgba(114,153,244,0.95) 99%, rgba(114,153,244,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(114,153,244,0) 0%,rgba(114,153,244,0.95) 1%,rgba(114,153,244,0.95) 99%,rgba(114,153,244,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(114,153,244,0) 0%,rgba(114,153,244,0.95) 1%,rgba(114,153,244,0.95) 99%,rgba(114,153,244,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007299f4', endColorstr='#007299f4',GradientType=1 ); /* IE6-9 */


}

.intro {
	margin: 12px auto;
	padding-left: 12px;
}








